<div class="startProject">
  <h1>Update your profile</h1>
  <div class="container">
    <div class="row">
     <div class="col-md-6 col-md-offset-3 miProfileData">
       <img class="center-block" src="{{data.profileImg}}">
       <ul>
         <li ng-click="enableEditor('username')"><p ng-hide="editorEnabled">{{username}}  <i ng-show="options" class="fa fa-pencil"></i></p></li>
         <div ng-show="editorEnabled">
          <input type="text" ng-model="username" ng-show="editorEnabled">
          <button class="btn btn-sm btn-primary" ng-click="save('username')"><i class="fa fa-thumbs-o-up"></i></button>
          <button class="btn btn-sm btn-danger" ng-click="disableEditor('username')"><i class="fa fa-thumbs-o-down"></i></button>
        </div>
        <li ng-click="enableEditor('mail')"><p ng-hide="editorEnabledMail">{{mail}}  <i ng-show="options" class="fa fa-pencil"></i></p></li>
        <div ng-show="editorEnabledMail">
          <input type="text" ng-model="mail" ng-show="editorEnabledMail">
          <button class="btn btn-sm btn-primary" ng-click="save('mail')"><i class="fa fa-thumbs-o-up"></i></button>
          <button class="btn btn-sm btn-danger" ng-click="disableEditor('mail')"><i class="fa fa-thumbs-o-down"></i></button>
        </div>
        <li><p>Lenguages you know:</p></li>
        <ul>
         <li ng-repeat="leng in data.lenguages"><p>{{leng.lenguages}}  <i ng-show="options" class="fa fa-trash-o" ng-click="deleteDev(leng.lenguages)"></i></p></li>

         <div ng-show="editorEnabledLeng">
          <input type="text" ng-model="leng">
          <button class="btn btn-sm btn-primary" ng-click="save('lenguages')"><i class="fa fa-thumbs-o-up"></i></button>
          <button class="btn btn-sm btn-danger" ng-click="disableEditor('lenguages')"><i class="fa fa-thumbs-o-down"></i></button>
        </div>
      </ul>
    </ul>
    <div class="row">
      <div class="col-sm-5">
       <button class="btn btn-warning" ng-click="clickMeToShowMessage(options = !options)">Edit</button>
       <button class="btn btn-primary" ng-click="enableEditor('lenguages')" ng-show="options">Add lenguage</button>
     </div>
     <div class="col-sm-6" ng-show="options">
       <!-- <label>Inser profile image</label> -->
       <div class="input-group image-preview">
        <input ng-model="file.name" placeholder="" type="text" class="form-control image-preview-filename" ng-disabled="true">
        <!-- don't give a name === doesn't send on POST/GET -->
        <span class="input-group-btn">
          <!-- image-preview-clear button -->
          <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
            <span class="glyphicon glyphicon-remove"></span> Clear </button>
            <!-- image-preview-input -->
            <div class="btn btn-default image-preview-input">
              <span class="glyphicon glyphicon-folder-open"></span>
              <span class="image-preview-input-title">Browse</span>
              <input ngf-select="fileSelected($files)" type="file" accept="'image/*'" name="file" />
              <!-- rename it -->
            </div>
            <button ng-click="uploadFile()" type="button" class="btn btn-labeled btn-primary">
              <i ng-hide="uploading" class="glyphicon glyphicon-upload"></i>
              <i ng-show="uploading" class="glyphicon glyphicon-refresh"></i>
              <span>Upload</span>
            </button>
          </span>
        </div>

      </div>   
    </div>
  </div>
</div>
</div>
</div>
