<div class="container projectPageMenu">
	<h1 class="text-center">Favourites</h1>
</div>


<ul class="projectsContent">
	<li class="homeProjects" ng-repeat="cont in contentBox">
		<div>
			<a href="#!/project-page"><img src="{{cont.img}}" alt=""></a>
			<div>
				<div class="homeTag">
					<button class="btn btn-warning btn-sm" ng-repeat="tag in cont.tag"><small>{{tag}}</small></button>
				</div>
				<h4>{{cont.title}}</h4>
				<p class="textContent">{{cont.shortDesc}}</p>
				<div>
					<div>
						<img src="https://www.corazonblanco.com/media/galeria/44/9/3/0/9/n_real_madrid_los_aficionados-2199039.jpg"><p>de: <small>Cythia Demuizon</small></p>
					</div>
					<a href="#!/project-page"><button class="btn btn-primary">Read more</button></a>
				</div>
			</div>
		</div>
	</li>
</ul>
</div>
