<div class="container projectPageMenu">
	<h1 class="text-center">Favourites</h1>
</div>


<ul class="projectsContent">
	<li class="homeProjects" ng-repeat="cont in project">
		<div>
			<span class="fa fa-trash-o fa-3x" ng-click="noFav(cont.favouriteid._id)"></span>
			<a href="#!/project-page/{{cont.favouriteid._id}}"><img src="{{cont.favouriteid.projectImage}}" alt=""></a>
			<div>
				<div class="homeTag">
					<button class="btn btn-warning btn-sm" ng-repeat="tag in cont.favouriteid.tags"><small>{{tag}}</small></button>
				</div>
				<h4>{{cont.favouriteid.title}}</h4>
				<p class="textContent">{{cont.favouriteid.shortDesc}}</p>
				<div>
					<div>
						<img src="{{cont.favouriteid.creatorImg}}"><p>de: <small>{{cont.favouriteid.creatorName}}</small></p>
					</div>
					<a href="#!/project-page/{{cont.favouriteid._id}}"><button class="btn btn-primary">Read more</button></a>
				</div>
			</div>
		</div>
	</li>
</ul>
</div>
