<div class="projectPageContent">
	<div class="container-fluid">
		<div class="row titleContent">
			<div class="bgBlack">
				<div ng-if="creator" class="btnEditDelate">
					<button class="btn btn-danger" ng-click="clickMeToShowMessage()">Delete project</button>
					<button class="btn btn-primary" ng-click="clickMeToShowMessageEdit(options = !options)">Edit project</button>
				</div>
				<div class="col-md-3">
					<img src="{{project.creatorImg}}" alt="">
					<h3>{{project.creatorName}}</h3>
				</div>
				<div class="col-md-9">
					<h3 class="hoverProjectPage" ng-click="enableEditor('title')" ng-model="title" ng-hide="editorEnabled">{{project.title}} <i ng-show="options" class="fa fa-pencil"></i></h3>
					<div ng-show="editorEnabled">
						<input type="text" ng-model="project.title" ng-show="editorEnabled">
						<button class="btn btn-sm btn-primary" ng-click="save('title')"><i class="fa fa-thumbs-o-up"></i></button>
						<button class="btn btn-sm btn-danger" ng-click="disableEditor('title')"><i class="fa fa-thumbs-o-down"></i></button>
					</div>
					<p class="hoverProjectPage" ng-model="shortDescription" ng-click="enableEditor('shortDescription')" ng-hide="editorEnabledSD">{{project.shortDescription}} <i ng-show="options" class="fa fa-pencil"></i></p>
					<div ng-show="editorEnabledSD">
						<textarea class="shortDescr" type="text" ng-model="project.shortDescription" ng-show="editorEnabledSD"></textarea>
						<button class="btn btn-sm btn-primary" ng-click="save('shortDescription')"><i class="fa fa-thumbs-o-up"></i></button>
						<button class="btn btn-sm btn-danger" ng-click="disableEditor('shortDescription')"><i class="fa fa-thumbs-o-down"></i></button>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row developersContent">
				<div class="col-md-6 col-md-offset-1">
					<div class="thumbnail">
						<img class="img-responsive" src="{{project.projectImage}}" alt="">
					</div>
					<div class="projectPageTag">
						<button class="btn btn-warning btn-sm" ng-repeat="tag in project.tags track by $index"><i ng-show="options" class="fa fa-trash-o" ng-click="deleteTag($index)"></i>  <small>{{tag}}</small></button>
						<button class="btn btn-primary btn-sm" ng-click="enableEditor('tags')" ng-show="options">Add tag</button>
						<div ng-show="editorEnabledTag">
							<input type="text" ng-model="tags">
							<button class="btn btn-sm btn-primary" ng-click="save('tags')"><i class="fa fa-thumbs-o-up"></i></button>
							<button class="btn btn-sm btn-danger" ng-click="disableEditor('tags')"><i class="fa fa-thumbs-o-down"></i></button>
						</div>
					</div>
					<h3>Description:</h3>
					<p class="hoverProjectPage" ng-model="longDescription" ng-click="enableEditor('longDescription')" ng-hide="editorEnabledLD">{{project.longDescription}} <i ng-show="options" class="fa fa-pencil"></i></p>
					<div ng-show="editorEnabledLD">
						<textarea rows="7" type="text" ng-model="project.longDescription" ng-show="editorEnabledLD"></textarea>
						<button class="btn btn-sm btn-primary" ng-click="save('longDescription')"><i class="fa fa-thumbs-o-up"></i></button>
						<button class="btn btn-sm btn-danger" ng-click="disableEditor('longDescription')"><i class="fa fa-thumbs-o-down"></i></button>
					</div>
					<h3>Why this proejct:</h3>
					<p class="hoverProjectPage" ng-model="whyThisProject" ng-click="enableEditor('whyThisProject')" ng-hide="editorEnabledWTP">{{project.whyThisProject}} <i ng-show="options" class="fa fa-pencil"></i></p>
					<div ng-show="editorEnabledWTP">
						<textarea rows="7" type="text" ng-model="project.whyThisProject" ng-show="editorEnabledWTP"></textarea>
						<button class="btn btn-sm btn-primary" ng-click="save('whyThisProject')"><i class="fa fa-thumbs-o-up"></i></button>
						<button class="btn btn-sm btn-danger" ng-click="disableEditor('whyThisProject')"><i class="fa fa-thumbs-o-down"></i></button>
					</div>

				</div>
				<div class="col-md-3 col-md-offset-1 myAffix" >
					<h3>Developers needed:</h3>
					<div class="developersNeeded" ng-repeat="dev in project.developers track by $index">
						<p id="{{$index}}" class="pull-left"><i ng-show="options" class="fa fa-trash-o" ng-click="deleteDev($index)"></i>  {{dev}}</p><a><button class='pull-right btn btn-default'>Join project</button></a>
					</div>
					<button class="btn btn-primary" ng-click="enableEditor('developers')" ng-show="options">Add developer</button>
					<div ng-show="editorEnabledDN">
						<input type="text" ng-model="developers">
						<button class="btn btn-sm btn-primary" ng-click="save('developers')"><i class="fa fa-thumbs-o-up"></i></button>
						<button class="btn btn-sm btn-danger" ng-click="disableEditor('developers')"><i class="fa fa-thumbs-o-down"></i></button>
					</div>
				</div>
			</div>
		</div>

		<div class="socialMediaShare">
			<button class="btn btn-primary center-block" ng-click='followProject()'>Follow this project</button>
			<nav class="navbar">
				<ul class="nav navbar-nav">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>