doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title webdevelopers
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/styles.css')
  body
    header
      nav.navbar.navbar-default
        .container
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            a.navbar-brand(href='#')
              img(alt='Brand', src='...')
            a.navbar-right(href='#')
              button.btn.btn-default.navbar-btn(type='button') Sign in
            a.navbar-right(href='#!/home')
              button.btn.btn-default.navbar-btn(type='button') Log in
    h1 Home/Login Page
    div(style='margin-bottom: 450px;')
    footer
      #footer.footer
        .container
          .row
            .col-md-4
              h3  Contact 
              ul
                li
                  a(href='#')  Lorem Ipsum 
                li
                  a(href='#')  Lorem Ipsum 
                li
                  a(href='#')  Lorem Ipsum 
                li
                  a(href='#')  Lorem Ipsum 
            .col-md-4
              h3  Important Links 
              ul
                li
                  a(href='#')  Admission 
                li
                  a(href='#')  Academic 
                li
                  a(href='#')  Career 
                li
                  a(href='#')  Administration 
                li
                  a(href='#')  Notice 
                li
                  a(href='#')  Tender 
                li
                  a(href='login.php')  Teacher Login 
            .col-md-4
              h3  Location 
              ul
                li
                  a(href='#')  Lorem Ipsum 
                li
                  a(href='#')  Lorem Ipsum 
                li
                  a(href='#')  Lorem Ipsum 
                li
                  a(href='#')  Lorem Ipsum 
          // /.row
        // /.container
      // /.footer
      .footer-bottom
        .container
          p.pull-left  Copyright © 2017, Marc Vergara. All rights reserved.
          .pull-right
            ul.nav.nav-pills.payments
              li
                i.fa.fa-cc-visa
              li
                i.fa.fa-cc-mastercard
              li
                i.fa.fa-cc-amex
              li
                i.fa.fa-cc-paypal
      // /.footer-bottom