<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login via site</h3>
        </div>
        <div class="panel-body">
        <form ng-submit="submitLogin()">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="Your username" name="username" ng-model="username" type="text">
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Password" ng-model="password" type="password" value="">
              </div>

              <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
            </fieldset>
          </form>
          <hr/>
          <center><h4>OR</h4></center>
          <input class="btn btn-lg btn-facebook btn-block btn-primary" type="submit" value="Login via facebook">
          <input class="btn btn-lg btn-google btn-block btn-danger" type="submit" value="Login via google">
        </div>
      </div>
    </div>
  </div>
</div>



