<div class="container projectPageMenu">
	<h1 class="text-center">My projects</h1>
</div>


<ul class="projectsContent">
	<li class="homeProjects" ng-repeat="cont in project">
		<div>
			<a href="#!/project-page/{{cont.projectid._id}}"><img src='{{cont.projectid.projectImage}}' alt=""></a>
			<div>
				<div class="homeTag">
					<button class="btn btn-warning btn-sm" ng-repeat="tag in cont.projectid.tags"><small>{{tag}}</small></button>
				</div>
				<h4>{{cont.projectid.title}}</h4>
				<p class="textContent">{{cont.projectid.shortDesc}}</p>
				<div>
					<div>
						<img src="{{user.profileImg}}"><p>de: <small>{{loggedUser}}</small></p>
					</div>
					<a href="#!/project-page/{{cont.projectid._id}}"><button class="btn btn-primary">Read more</button></a>
				</div>
			</div>
		</div>
	</li>
</ul>
