<div class="startProject">
  <h1>Start your own project!</h1>
  <div class="container">
    <div class="row">
      <form ng-submit="submit()">
      <div class="col-md-6">
        <label>Title</label>
        <input type="text" name="title" ng-model="title" placeholder="Your title">
        <label>Insert programming lenguages</label>      
        <tags-input name="tag" ng-model="tags"></tags-input>
        <label>Developers you need</label>
        <input type="text" name="developers" ng-model="dev" placeholder="Front Developer, Designer,...">
        <label>Upload image</label>
        <input type="file" ng-model="image" accept="image/*">
        <label>Short description</label>
        <textarea rows="4" name="shortDescription" ng-model="shortDesc" type="text" maxlength='120' placeholder="Insert short description (120 characters)"></textarea>
        <label>Long description</label>
        <textarea rows="5" name="longDescription" ng-model="longDesc" type="text" placeholder="Insert long description"></textarea>
        <label>Why this project?</label>
        <textarea rows="4" name="whyThisProject" ng-model="whyThisProject" type="text" placeholder="Why this project (optional)"></textarea>
        <input class="btn btn-primary" type="submit" value="Start new project">
      </div>

      <div class="col-md-6">
        <ul class="projectsContent">
          <li class="homeProjects">
            <div>
              <a><img src="https://ksr-ugc.imgix.net/assets/017/613/234/902b1945bca81c8ce5b28a70a04b78b4_original.png?crop=faces&w=560&h=315&fit=crop&v=1500750535&auto=format&q=92&s=03cd36ad3063a3907ce330abda9f5801" alt=""></a>
              <div>
                <div class="homeTag">
                  <button class="btn btn-warning btn-sm" ng-repeat="tag in tags | limitTo: 5"><small>{{tag}}</small></button>
                  <!-- <p ng-repeat="tag in tags"><small>{{tag.text}}</small></p> -->
                </div>
                <h4>{{title}}</h4>
                <p class="textContent">{{shortDesc}}</p>
                <div>
                  <div>
                    <img src="https://www.corazonblanco.com/media/galeria/44/9/3/0/9/n_real_madrid_los_aficionados-2199039.jpg"><p>de: <small>Cythia Demuizon</small></p>
                  </div>
                  <a><button class="btn btn-primary">Read more</button></a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </form>
  </div>
</div>
</div>