<div class="headerImage">
	<div class="bgBlack">
		<div class="container">
			<h1>Start your own project!</h1>
			<p>Start your project and get help of the comunity! Create your teams with your mates to realize your own projects</p>
			<p><a class="btn btn-primary btn-lg" href="#!/start-project" role="button">Start project</a></p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-3 col-md-offset-8">
			<div class="homeFilter">
				<p>Filter by:</p>
				<label for="">Lenguage</label>
				<input ng-model="lenguage.tag" type="text" placeholder="Javascript">	
			</div>
		</div>
	</div>
</div>

<ul class="projectsContent">
	<li class="homeProjects" ng-repeat="cont in contentBox | filter: lenguage">
		<div>
			<a href="#!/project-page"><img src="{{cont.img}}" ng-mouseenter="optionsImg=true" ng-mouseleave="optionsImg=false" alt=""></a>
			<div>
				<div class="homeTag">
					<button class="btn btn-warning btn-sm" ng-repeat="tag in cont.tag"><small>{{tag}}</small></button>
				</div>
				<h4>{{cont.title}}</h4>
				<p class="textContent">{{cont.shortDesc}}</p>
				<div>
					<div>
						<img src="https://www.corazonblanco.com/media/galeria/44/9/3/0/9/n_real_madrid_los_aficionados-2199039.jpg"><p>de: <small>Cythia Demuizon</small></p>
					</div>
					<a href="#!/project-page"><button class="btn btn-primary">Read more</button></a>
				</div>
			</div>
		</div>
	</li>
</ul>