<div class="headerImage">
	<div class="bgBlack">
		<div class="container">
			<h1>Start your own project!</h1>
			<p>Start your project and get help of the comunity! Create your teams with your mates to realize your own projects</p>
			<p><a class="btn btn-primary btn-lg" href="#!/start-project" role="button">Start project</a></p>
		</div>
	</div>
</div>

<div class="container">
	<div class="homeFilter">
		<p>Filter by lenguage</p>
		<input ng-model="lenguage" type="text" placeholder="Javascript">
	</div>
</div>

<ul class="projectsContent">
	<li class="homeProjects" ng-repeat="cont in project | filter: {tags: lenguage}">
		<div>
			<!-- <span class="fa fa-star-o fa-2x" ng-click="favToggle(cont._id)" ng-class="{'fa-star' : toggleFav, 'fa-star-o' : !toggleFav}"></span> -->
			<a href="#!/project-page/{{cont._id}}"><img src="{{cont.projectImage}}" ng-mouseenter="optionsImg=true" ng-mouseleave="optionsImg=false" alt="">
			</a>
			<div>
				<div class="homeTag">
					<button class="btn btn-warning btn-sm" ng-repeat="tag in cont.tags" ng-click="getTagFilter(tag)"><small>{{tag}}</small></button>
				</div>
				<h4>{{cont.title}}</h4>
				<p class="textContent">{{cont.shortDescription}}</p>
				<div>
					<div>
						<img src="{{cont.creatorImg}}"><p>de: <small>{{cont.creatorName}}</small></p>
					</div>
					<a href="#!/project-page/{{cont._id}}"><button class="btn btn-primary">Read more</button></a>
				</div>
			</div>
		</div>
	</li>
</ul>